{% block body %}
<style>
   .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);   
}
   .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
    .styled-table th,
    .styled-table td {
    padding: 12px 15px;
}
    .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>
          <h1 style="colour:powderblue;font-size:16px;">Welcome to NOTE MAKER</h1>
          <p>
            <table class="styled-table">
              <thead>
              <tr> 
              <th>id</th> 
              <th>Name</th>
              <th scope="col"> <a href="/?order_by=added&order={{order}}">Date</a></th>
              </tr> 
              </thead> 
              <tbody> 
              {% for id,name,added in get %}  
               <tr class="active-row"> 
                <td scope="row" class="id" ><a href="{{url_for('note_details',notenum=id)}}">{{id}}</a></td>
                <td class="notename">{{name}}</td>
                <td class="noteaddedon">{{added}}</td>
               </tr> 
              {% endfor %} 
             </tbody> 
             </table>
          </p>
{% endblock %}
